server:
  port: 8080

spring:
  application:
    name: student-management
  data:
    mongodb:
      uri: mongodb+srv://prvijay0_db_user:1234vijay@cluster0.kkwy3vh.mongodb.net/?appName=Cluster0
      database: student_management

  mail:
     host: smtp.gmail.com
     port: 587
     username: prvijay0@gmail.com
     password: rxaj komq eqak nogk  # paste the 16-char app password (no spaces)
     properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
